NEXT_PUBLIC_SITE_URL=http://localhost:3000
FORM_WEBHOOK_URL=YOUR_FORM_WEBHOOK_URL

# Contact Form - Hero Section
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=YOUR_RECAPTCHA_V3_SITE_KEY
NEXT_PUBLIC_RECAPTCHA_ENABLED=false
RECAPTCHA_SECRET_KEY=YOUR_RECAPTCHA_V3_SECRET_KEY
RESEND_API_KEY=re_csc1W85G_NMrrhsFvRf5WF299DqeWfhaE
RECAPTCHA_ENABLED=false
